[submodule "lib/ModernGekko"]
	path = lib/ModernGekko
	url = https://github.com/xXJSONDeruloXx/ModernGekko.git
	branch = chibi-robo-native
[submodule "lib/DolRecomp"]
	path = lib/DolRecomp
	url = https://github.com/ExpansionPak/DolRecomp.git
